
<p>Prossimo esercizio: {{allenamento[indice_esercizi].NOME}}</p>

<app-timer [durata]="tempo()"></app-timer>





<!-- <div class="card-allenamento" *ngIf="allenamento[indice_esercizi]">
  @if(!finished) {
  <p *ngIf="isRiposo">Prossimo esercizio</p>

  <p>{{ allenamento[indice_esercizi].NOME }}</p>
  <p>{{ allenamento[indice_esercizi].DESCRIZIONE }}</p>

  <p>SET: {{ indice_set }} di {{ allenamento[indice_esercizi].NUM_SET }}</p>

  <p>RIPETIZIONI: {{ allenamento[indice_esercizi].NUM_REP }}</p>

  @if (allenamento[indice_esercizi].PESO !== indice_esercizi) {
  <p>PESO: {{ allenamento[indice_esercizi].PESO }} KG</p>
  } @else {
  <p>CORPO LIBERO</p>
  }

  <app-clock
    [timerObj]="timerObject"
    [isRiposo]="isRiposo"
    (countdownStarted)="onStart()"
    (countdownFinished)="onFinish()"
  ></app-clock>
  } @else {
  <p>Workout finito</p>
  }
</div> -->

<!-- <app-redirect-button></app-redirect-button> -->

