.redirect-button {
  display: block;
  width: 15em;
  font-size: 1.1rem;
  padding: 0.8em 1em;
  border-radius: 0.8em;
  border: 1px solid #ccc;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  margin: 1em auto;

  background: linear-gradient(to right, #2575fc, #2575fc);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background 0.4s, transform 0.2s;
}

.redirect-button:hover {
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.fa-chevron-circle-left {
  font-size: 1.3rem;
  margin-right: 0.5em;
}