p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.wa-stats {
    width: 40%;
    float: left;
}

.pie-stats {
    width: 50%;
    float: right;
}

@media only screen  and (max-width: 400px){
    .wa-stats {
    width: 100%;
    float: none;
}

.pie-stats {
    width: 100%;
    float: none;
}
}