<div class="test">

    <div class="intestazione-container">
        <p class="title">Componi il tuo workout</p>
        <div class="buttons-container">

            <button class="buttons" (click)="goToComponent('aggiungi-allenamento')">Allenamenti</button>
            <button class="buttons" (click)="goToComponent('aggiungi-esercizio')">Esercizi</button>
            <button class="buttons" (click)="goToComponent('aggiungi-allenamento-esercizio')">Circuito</button>
        </div>
        <div>
            <input type="text" placeholder="Cerca" class="ricerca">
        </div>
    </div>
</div>

<div class="card-container">
    <app-card-allenamento *ngFor="let allenamento of allenamenti" [allenamento]="allenamento"
        (cardClicked)="onCardClicked($event)"></app-card-allenamento>
</div>