.info {
  border: 1px solid rgba(255, 255, 255, 0.479);
  border-radius: 0.5em;
  width: 14em;
  text-align: center;
  margin: 1em auto;
}
.title {
  background-color: rgba(240, 248, 255, 0.264);
  margin: 0;
  padding: 0.6em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.content {
  padding: 0.5em;
}

.card-allenamento {
  color: white;
  background-color: rgb(94, 94, 94);
  margin: 2em auto;
  max-width: 30em;
  text-align: center;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 2em;
}

p {
  color: white;
  font-size: 1.2em;
  margin: 0.8em;
}
