@if(allenamento()[indice_esercizi()]) {
<div class="info">
  @if(stato() === 'preview') {
  <p class="title">Prossimo esercizio</p>
  <div class="content">
    <p>{{ allenamento()[indice_esercizi()].NOME }}</p>
    <p>{{ allenamento()[indice_esercizi()].NUM_SET }} set</p>
    <p>{{ allenamento()[indice_esercizi()].NUM_REP }} ripetizioni</p>
    <p>Carico: {{ allenamento()[indice_esercizi()].PESO }} Kg</p>
  </div>
  }
  <app-timer [durata]="tempo()" (inizioTimer)="onStart()"></app-timer>
</div>
}

<!-- <div class="card-allenamento" *ngIf="allenamento[indice_esercizi]">
  @if(!finished) {
  <p *ngIf="isRiposo">Prossimo esercizio</p>

  <p>{{ allenamento[indice_esercizi].NOME }}</p>
  <p>{{ allenamento[indice_esercizi].DESCRIZIONE }}</p>

  <p>SET: {{ indice_set }} di {{ allenamento[indice_esercizi].NUM_SET }}</p>

  <p>RIPETIZIONI: {{ allenamento[indice_esercizi].NUM_REP }}</p>

  @if (allenamento[indice_esercizi].PESO !== indice_esercizi) {
  <p>PESO: {{ allenamento[indice_esercizi].PESO }} KG</p>
  } @else {
  <p>CORPO LIBERO</p>
  }

  <app-clock
    [timerObj]="timerObject"
    [isRiposo]="isRiposo"
    (countdownStarted)="onStart()"
    (countdownFinished)="onFinish()"
  ></app-clock>
  } @else {
  <p>Workout finito</p>
  }
</div> -->

<!-- <app-redirect-button></app-redirect-button> -->
